version: "2"


services:
  aaas-api-asset-allocation:
    image: aaas-api-asset-allocation:latest
    labels:
      - "aaas-api-asset-allocation"
    ports:
      - "10020:10020"
      - "10021:10021"
    environment:
      - SPRING_PROFILES_ACTIVE=k8s
      - _JAVA_OPTIONS=-Xmx256m
      
      
      
