spring:
    devtools:
        restart:
            enabled: true
        livereload:
            enabled: false 
            application:
        name: ssf-finance

    jackson:
      serialization:
        fail-on-empty-beans: false
    data:
        mongodb:
            host: 192.168.1.10
            port: 27017
            database: zhongzheng

server:
    port: 10120
grpc:
  host: localhost
  port: 10121
  asset-allocation:
    host: localhost
    port: 10021
application:
    swagger:
        title: SSF Platform API
        description: Shell shell fish API documentation
        version: 0.1.X
        termsOfServiceUrl:
        contactName:
        contactUrl:
        contactEmail:
        license:
        licenseUrl:

api-data-manager-url: http://localhost:10030

shellshellfish:
  asset-allocation-url: http://localhost:10020

management:
  endpoints:
    web:
      base-path: /