---
server:
  port: 10060
logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.data: debug


spring:
  jpa:
    hibernate:
      ddl-auto: update
  data:
    mongodb:
      database: ssfui
      host: 192.168.1.249
      port: 30005
      zhongzheng: "zhongzheng"
      funds: "funds"
  rabbitmq:
    listener:
      simple:
        acknowledge-mode: auto
    username: ssf
    password: shellshellfish
    host: localhost
    port: 35672
    virtual-host: aaas
    topicQueuePayName: com.ssf.topic.queue.pay
    topicQueueOrderName: com.ssf.topic.queue.order
    topicExchangeName: com.ssf.topic.exchange
    topicPay: shellshellfish.pay
    topicOrder: shellshellfish.order
    topicUserinfo: shellshellfish.userinfo
  redis:
    host: 192.168.1.249
    port: 16379
    password: redis123
    lettuce:
      pool:
        max-active: 8
        max-wait: -1ms
        max-idle: 8
        min-idle: 0
datasource:
  aaasapp:
    url: jdbc:mysql://192.168.1.249:30006/ssfuser?useUnicode=true&connectionCollation=utf8_general_ci&characterSet=utf8&characterEncoding=utf-8
    username: sa
    password: N4eTVr89lX9BaPcx
    driverClassName: com.mysql.jdbc.Driver
    defaultSchema: ssfuser
    maxPoolSize: 20
    hibernate:
      connection:
        useUnicode: true
        characterEncoding: UTF-8
      jdbc:
        batch_size: 50
      hbm2ddl.method: update
      show_sql: true
      format_sql: true
      dialect: org.hibernate.dialect.MySQLDialect
  
grpc:
  userinfo:
    host: localhost
    port: 10061
  data-manager-rpc:
    host: localhost
    port: 10031
  finance-trade-order-rpc:
    host: localhost
    port: 10101
  finance-trade-pay-rpc:
    host: localhost
    port: 10111
  datacollection-server-rpc:
    host: localhost
    port: 10091


aaas-api-finance-url: http://localhost:10120

api-asset-alloction-url: http://localhost:10020

# 每日收益计算 多线程
daily-finance-calculate-thread: 8

management:
  endpoints:
    web:
      base-path: /

cron:
  frequency:
    #Seconds	Minutes	Hours	Day Of Month	Month	Day Of Week	Year
    # 	At minute 30 past every hour.
    jobCheckPendingRecords: 30 */1 * * *