---
server:
  port: 10060
logging:
  level:
    org.hibernate.SQL: info
    org.hibernate.type.descriptor.sql.BasicBinder: info
    org.springframework.data: info

spring:
  jpa:
    hibernate:
      ddl-auto: update
  data:
    mongodb:
      database: ssfui
      host: external-mongo-service
      port: 27017
      zhongzheng: "zhongzheng"
      funds: "funds"
  rabbitmq:
    listener:
      simple:
        acknowledge-mode: auto
    username: ssf
    password: shellshellfish
    host: external-rabbitmq-service
    port: 5672
    virtual-host: aaas
    topicQueuePayName: com-ssf-topic-queue-pay
    topicQueueOrderName: com-ssf-topic-queue-order
    topicQueueUserinfoName: com-ssf-topic-queue-userinfo
    topicExchangeName: com-ssf-topic-exchange
    topicPay: shellshellfish.pay
    topicOrder: shellshellfish.order
    topicUserinfo: shellshellfish.userinfo
  redis:
    host: redis-service
    port: 6379
    password: redis123
    lettuce:
      pool:
        max-active: 8
        max-wait: -1ms
        max-idle: 8
        min-idle: 0
datasource:
  sampleapp:
    url: jdbc:mysql://external-mysql-service:3306/ssfuser?useUnicode=true&connectionCollation=utf8_general_ci&characterSet=utf8&characterEncoding=utf-8
    username: sa
    password: 1rIQ9wi!@g3P$Qh* 
    driverClassName: com.mysql.jdbc.Driver
    defaultSchema: ssfuser
    maxPoolSize: 20
    hibernate:
      connection:
        useUnicode: true
        characterEncoding: UTF-8
      jdbc:
        batch_size: 50
      hbm2ddl.method: update
      show_sql: true
      format_sql: true
      dialect: org.hibernate.dialect.MySQLDialect
  
grpc:
  userinfo:
#    host: localhost
    port: 10061
  data-manager-rpc:
    host: aaas-api-data-manager
    port: 10031
  finance-trade-order-rpc:
    host: aaas-finance-trade-order
    port: 10101
  finance-trade-pay-rpc:
    host: aaas-finance-trade-pay
    port: 10111
  datacollection-server-rpc:
    host: aaas-app-datacollection-server
    port: 10091


aaas-api-finance-url: http://aaas-api-finance:10120

api-asset-alloction-url: http://aaas-api-asset-allocation:10020

# 每日收益计算 多线程
daily-finance-calculate-thread: 8

management:
  endpoints:
    web:
      base-path: /
