<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shellshellfish.aaas.assetallocation.mapper.FundGroupDetailsMapper">


    <select id="getFundProportion" resultType="com.shellshellfish.aaas.assetallocation.entity.FundGroupDetails">
        SELECT
          fund_code,proportion
        FROM
          fund_group_details
        WHERE
          fund_group_id = #{groupId}
          AND  fund_group_sub_id = #{subGroupId}
    </select>

</mapper>