<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shellshellfish.aaas.assetallocation.neo.mapper.FundGroupIndexMapper">

    <update id="saveOrUpdate"
            parameterType="com.shellshellfish.aaas.assetallocation.neo.entity.FundGroupIndex">
        insert into fund_group_index(fund_group_id, fund_group_sub_id, historical_annual_yield,historical_annual_volatility)
        VALUES (#{fundGroupId},#{fundGroupSubId},#{historicalAnnualYield},#{historicalAnnualVolatility})
        ON DUPLICATE KEY UPDATE
        historical_annual_yield = #{historicalAnnualYield},
        historical_annual_volatility = #{historicalAnnualVolatility}
    </update>

    <select id="findByGroupIdAndSubGroupId"
            resultType="com.shellshellfish.aaas.assetallocation.neo.entity.FundGroupIndex">
      SELECT
       id,
       fund_group_id as fundGroupId,
       fund_group_sub_id as fundGroupSubId,
       historical_annual_yield as historicalAnnualYield,
       historical_annual_volatility as historicalAnnualVolatility
       from fund_group_index
      WHERE
      fund_group_id = #{groupId}
      AND fund_group_sub_id =#{subGroupId}
    </select>
</mapper>