<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shellshellfish.aaas.assetallocation.mapper.FundCalculateDataMapper">

    <!--关联查询净值数据 -->
    <resultMap id="fundCalculateDataMap" type="com.shellshellfish.aaas.assetallocation.entity.FundCalculateData">

        <result property="id" column="id" />
        <result property="code" column="code" />
        <result property="yieldRatio" column="yield_ratio" />
        <result property="riskRatio" column="risk_ratio" />
        <result property="navDate" column="nav_date" />
        <result property="semiVariance" column="semi_variance" />
        <result property="navadj" column="navadj" />
        <result property="createDate" column="create_time" />

    </resultMap>


    <insert id="insertFundCalculateDataDay" parameterType="com.shellshellfish.aaas.assetallocation.entity.FundCalculateData" >
        INSERT INTO
        fund_calculate_data_day
        (code,yield_ratio,risk_ratio,nav_date,semi_variance,navadj,create_time)
        VALUES
        (#{code},#{yieldRatio},#{riskRatio},#{navDate},#{semiVariance},#{navadj},#{createDate})
    </insert>

    <insert id="insertFundCalculateDataWeek" parameterType="com.shellshellfish.aaas.assetallocation.entity.FundCalculateData" >
        INSERT INTO
        fund_calculate_data_week
        (code,yield_ratio,risk_ratio,nav_date,semi_variance,navadj,create_time)
        VALUES
        (#{code},#{yieldRatio},#{riskRatio},#{navDate},#{semiVariance},#{navadj},#{createDate})
    </insert>

    <insert id="insertFundCalculateDataMonth" parameterType="com.shellshellfish.aaas.assetallocation.entity.FundCalculateData" >
        INSERT INTO
        fund_calculate_data_month
        (code,yield_ratio,risk_ratio,nav_date,semi_variance,navadj,create_time)
        VALUES
        (#{code},#{yieldRatio},#{riskRatio},#{navDate},#{semiVariance},#{navadj},#{createDate})
    </insert>

    <insert id="insertFundCalculateDataYear" parameterType="com.shellshellfish.aaas.assetallocation.entity.FundCalculateData" >
        INSERT INTO
        fund_calculate_data_year
        (code,yield_ratio,risk_ratio,nav_date,semi_variance,navadj,create_time)
        VALUES
        (#{code},#{yieldRatio},#{riskRatio},#{navDate},#{semiVariance},#{navadj},#{createDate})
    </insert>

    <select id="findYieldRatio"  resultType="java.lang.Double" statementType="STATEMENT">
        SELECT
        yield_ratio
        FROM ${tableName}
        WHERE code='${code}' AND nav_date >='${selectDate}'
        ORDER BY nav_date DESC
    </select>

    <select id="findRiskRatio"  resultType="java.lang.Double" statementType="STATEMENT">
        SELECT
        risk_ratio
        FROM ${tableName}
        WHERE code='${code}' AND '${selectDate}'>=nav_date limit 1
    </select>

    <select id="findNavadjByType"  resultMap="fundCalculateDataMap" statementType="STATEMENT">
        SELECT
        *
        FROM ${tableName}
        WHERE code='${code}'
        AND nav_date>='${startDate}'
        AND '${endDate}' >=nav_date
        ORDER BY nav_date DESC

    </select>

    <select id="findNavadjByCodeAndDate"  resultType="java.lang.Double" statementType="STATEMENT">
        SELECT
        navadj
        FROM ${tableName}
        WHERE code='${code}'
        AND nav_date>='${startDate}'
        AND '${endDate}' >=nav_date
        ORDER BY nav_date

    </select>


</mapper>