<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shellshellfish.aaas.assetallocation.neo.mapper.FundGroupMapper">
    <select id="selectFundGroup" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.Interval">
        SELECT
        *
        FROM straegy a,fund_group b,fund_basic d,fund_group_details c
        where a.fund_group_id = b.id and b.id = c.fund_group_id and c.fund_code = d.code
        <if test="risk != null">
            and cust_risk = #{risk}
        </if>
        <if test="incomeyear != null">
            and investment_horizon = #{incomeyear}
        </if>
    </select>

    <insert id="insertRecommendHistory" parameterType="map">
        INSERT into Recommend_History(cust_id,fund_group_id,recommend_add_time,recommend_last_mod_time)
        VALUE (#{custID},#{fundGroupID},#{time},#{time})
    </insert>

    <select id="selectAllFundGroup" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.Interval">
        select * from fund_group_basic a,fund_group_details b,fund_basic c,straegy d
        where a.id = b.fund_group_id and b.fund_code = c.code and a.id = d.fund_group_id
    </select>

    <select id="selectAllFundGroupNum" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.Interval">
        select id fund_group_id,fund_group_name from fund_group
    </select>

    <select id="selectById" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.Interval">
        select * from fund_group_sub e,fund_group a,fund_group_details b,fund_basic c,straegy d
        where a.id = b.fund_group_id and b.fund_code = c.code and a.id = d.fund_group_id and b.fund_group_sub_id = e.id
        and a.id = #{id} and b.fund_group_sub_id = #{subGroupId}
    </select>
    <select id="getinterval" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.Interval">
        select * from fund_group_sub d,straegy a,fund_group b,fund_basic e,fund_group_details c
        where a.fund_group_id = b.id and b.id = c.fund_group_id and c.fund_code = e.code and
        c.fund_group_id=d.fund_group_id and d.id=c.fund_group_sub_id and d.risk_num=#{riskValue}
        and d.income_num=#{returnValue} and c.fund_group_id=#{id}
    </select>

    <select id="getFundCode" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.Interval">
        select a.fname,a.code fund_code,a.fund_type_two from fund_basic a, fund_group_details b
        where a.code = b.fund_code and fund_group_id = #{id} and fund_group_sub_id = #{subId}
    </select>

    <select id="getProportionOne" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.Interval">
        select a.fund_type_one,a.fund_group_id,sum(proportion) proportion from (select * from fund_basic a,
        fund_group_details b where a.code = b.fund_code and fund_group_id = #{id} and fund_group_sub_id = #{subId}) a
        GROUP BY a.fund_type_one
    </select>

    <select id="getProportion" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.Interval">
        select a.fund_type_two,a.fund_group_id,sum(proportion) proportion from (select * from fund_basic a,
        fund_group_details b where a.code = b.fund_code and fund_group_id = #{id} and fund_group_sub_id = #{subId}) a
        GROUP BY a.fund_type_two
    </select>

    <select id="efficientFrontier" resultType= "com.shellshellfish.aaas.assetallocation.neo.entity.FundGroupDetails">
        select fund_code from fund_group_details where fund_group_id = #{fund_group_id} and fund_group_sub_id = #{subGroupId}
    </select>

    <update id="updateStatus" parameterType="map">
        update fund_group set status = #{status},group_last_mod_time=#{time} where id = #{id}
    </update>

    <insert id="insertFundGroup" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        insert into fund_group (FUND_GROUP_NAME,group_add_time,group_last_mod_time) VALUE (#{fund_group_name},
        #{group_add_time},#{group_add_time})
    </insert>

    <insert id="insertFundGroupDetail"
            parameterType="com.shellshellfish.aaas.assetallocation.neo.entity.FundGroupDetailsList">
        insert into fund_group_details (fund_code,fund_group_id,proportion,details_last_mod_time) VALUES
        <foreach collection="list" item="userid" index="index"
                 open="(" close=")" separator="),(">
            #{userid.fund_id},#{userid.fund_group_id},#{userid.proportion},#{userid.details_last_mod_time}
        </foreach>
    </insert>

    <select id="selectReturnAndPullback" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.Interval">
        select * from fund_group_sub where fund_group_id = #{id} and id=#{subGroupId}
    </select>

    <select id="getPerformanceVolatility"
            resultType="com.shellshellfish.aaas.assetallocation.neo.entity.RiskIncomeInterval">
        select * from fund_group_sub b,straegy a where a.fund_group_id=b.fund_group_id
         <if test="cust_risk != null and cust_risk !=''">
         and  a.cust_risk = #{cust_risk}
         </if>
        <if test="investment_horizon != null and investment_horizon !=''">
        and a.investment_horizon = #{investment_horizon}
        </if>
        <if test="fund_group_id != null and fund_group_id !=''">
            and  b.fund_group_id = #{fund_group_id}
        </if>
        ORDER BY b.simulate_historical_year_performance
    </select>

    <select id="getRevenueContribution" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.Interval">
        select d.fund_type_two fund_type_two,sum(d.revenue_contribution) revenue_contribution,(select interval_last_mod_time from fund_group_sub
        where fund_group_id=#{id} and id=#{subGroupId}) details_last_mod_time from
        (select a.revenue_contribution,c.fund_type_two from fund_group_details a,fund_group_sub b,fund_basic c
        where a.fund_group_id = b.fund_group_id and a.fund_code = c.code and b.fund_group_id=#{id}
        and b.id=#{subGroupId}) d GROUP BY d.fund_type_two
    </select>

    <select id="getRiskController" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.RiskController">
        select * from riskcontroller where fund_group_id = #{id} and fund_group_sub_id = #{subGroupId}
    </select>
    
    <select id="getScaleMark" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.RiskIncomeInterval">
        select id,risk_num,income_num from fund_group_sub where fund_group_id=#{id} order by #{slidebarType}
    </select>

    <select id="getFundNetValue" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.FundNetVal">
        select a.fund_type_two,b.navadj,b.navlatestdate navlatestDate from fund_basic a,
        fund_net_value b  where a.code=b.code and a.code=#{fund_code} and b.NAVLATESTDATE
        BETWEEN #{startTime} and #{endtTime}
    </select>
    <select id="getFundGroupBuy" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.FundGroupBuy">
        select * from fundgroupbuydetail c where c.fund_group_buy_id = #{id}
    </select>

    <select id="getHistory" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.FundGroupHistory">
        select * from fund_group_history where fund_group_id = #{fund_group_id}
        <if test="fund_group_sub_id != null and fund_group_sub_id != ''">
          and fund_group_sub_id=#{fund_group_sub_id}
        </if>
        and time BETWEEN #{starttime} and #{endtime}
    </select>
    <select id="getSharpeRatio" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.FundNetVal">
        select sum(a.proportion*b.navadj) navadj from fund_group_details a,fund_net_value b
        where a.fund_code=b.code and a.fund_group_id=#{fund_group_id} and a.fund_group_sub_id=#{subGroupId}
        GROUP BY b.NAVLATESTDATE
    </select>

    <select id="getExpectedIncome" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.FundGroupExpectedIncome">
        select * from fund_group_expected_income where fund_group_id = #{fund_group_id} and fund_group_sub_id = #{subGroupId}
    </select>

    <update id="updateSharpeRatio" >
        update fund_group_sub set sharpe_ratio = #{sharpeRatio} where id = #{id}
    </update>

    <select id="getNavadj" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.FundNetVal">
        select sum(a.navadj*b.proportion) navadj,a.navlatestdate from fund_net_value a,fund_group_details b
        where a.code=b.fund_code and fund_group_id = #{fund_group_id} and fund_group_sub_id = #{subGroupId}
        <if test="endTime != null and endTime != '' ">
          and navlatestdate > #{startTime} and navlatestdate &lt; #{endTime}
        </if>
        group by a.navlatestdate
    </select>

    <select id="getNavadjBenchmark" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.FundNetVal">
        select sum(a.navadj*b.proportion) navadj,a.navlatestdate from fund_net_value a,fund_group_benchmark b
        where a.code=b.fund_code and risk_level= #{risk_level}
        <if test="endTime != null and endTime != '' ">
          and navlatestdate > #{startTime} and navlatestdate &lt; #{endTime}
        </if>
        group by a.navlatestdate
    </select>

    <insert id="insertGroupNavadj">
        insert into fund_group_history (fund_group_sub_id,fund_group_id,income_num,time)
        VALUES (#{subGroupId},#{fund_group_id},#{num},#{time})
    </insert>

    <insert id="insertGroupNavadjBenchmark">
        insert into fund_group_history (fund_group_id,income_num,time)
        VALUES (#{risk_level},#{num},#{time})
    </insert>

    <update id="updateMaximumRetracement">
        update fund_group_history set maximum_retracement = #{retracement} where
        <if test="fund_group_id != null and fund_group_id != ''">
          fund_group_id = #{fund_group_id} and fund_group_sub_id = #{subGroupId}
        </if>
        <if test="risk_level != null and risk_level != ''">
            fund_group_id = #{risk_level}
        </if>
        and time = #{time}
    </update>

    <select id="getGroupStartTime" resultType="String">
        select interval_last_mod_time from fund_group_sub where fund_group_id=#{fund_group_id} and id = #{subGroupId}
    </select>

    <select id="getEfficientFrontier" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.EfficientFrontier">
        select * from efficient_frontier where fund_group_id=#{fund_group_id}
    </select>

    <select id="getEfficientFrontierDetail" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.EfficientFrontier">
        select * from efficient_frontier_detail where efficient_frontier_id = #{id}
    </select>

    <select id="getNavadjStartTime" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.FundNetVal">
        select a.fund_code code,b.navadj*a.proportion navadj from fund_group_details a,fund_net_value b,fund_group_sub c
        where a.fund_code=b.code and b.NAVLATESTDATE = c.interval_last_mod_time and a.fund_group_id = #{fund_group_id}
        and a.fund_group_sub_id=#{subGroupId}
    </select>

    <select id="getNavadjEndTime" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.FundNetVal">
        select a.fund_code code,b.navadj*a.proportion navadj from fund_group_details a,fund_net_value b
        where a.fund_code=b.code and a.fund_group_id = #{fund_group_id} and a.fund_group_sub_id=#{subGroupId}
        order by b.navlatestdate desc limit #{num}
    </select>

    <select id="getAllIdAndSubId" resultType="com.shellshellfish.aaas.assetallocation.neo.entity.Interval">
        select id,fund_group_id from fund_group_sub
    </select>

    <select id="getRiskNum" resultType="String">
        select cust_risk from straegy where id = #{id}
    </select>
</mapper>